[Desktop Entry]
Name=Onboard
Name[ar]=لوحة مفاتيح الشاشة
Name[ast]=Onboard
Name[be]=Onboard
Name[bg]=Onboard
Name[bn]=অনবোর্ড
Name[bs]=Onboard
Name[ca]=Onboard
Name[ca@valencia]=Onboard
Name[cs]=Onboard
Name[da]=Onboard
Name[de]=Onboard
Name[el]=Onboard
Name[en_AU]=Onboard
Name[en_CA]=Onboard
Name[en_GB]=Onboard
Name[eo]=Ekran-klavaron
Name[es]=Onboard
Name[eu]=Onboard
Name[fi]=Onboard
Name[fr]=Onboard
Name[fr_CA]=Onboard
Name[gd]=Onboard
Name[gl]=Onboard
Name[he]=Onboard
Name[hr]=Zaslonska tipkovnica
Name[hu]=Onboard
Name[ia]=Onboard
Name[id]=Onboard
Name[it]=Onboard
Name[ja]=Onboard
Name[km]=Onboard
Name[ko]=온보드(Onboard)
Name[lt]=Onboard
Name[lv]=Onboard
Name[mr]=ऑनबोर्ड
Name[ms]=Onboard
Name[nb]=Onboard
Name[ne]=अन्बोर्ड
Name[nl]=Onboard
Name[oc]=Onboard
Name[pl]=Onboard
Name[pt]=Onboard
Name[pt_BR]=Onboard
Name[ro]=Onboard
Name[ru]=Onboard
Name[sk]=Klávesnica na obrazovke
Name[sl]=Onboard
Name[sq]=Onboard
Name[sr]=Онбоард
Name[sv]=Onboard
Name[tg]=Onboard
Name[tr]=Ekran Klavyesi
Name[ug]=Onboard
Name[uk]=Onboard
Name[zh_CN]=Onboard
Name[zh_HK]=Onboard
Name[zh_TW]=Onboard
GenericName=Onboard onscreen keyboard
GenericName[ar]=لوحة المفاتيح على الشاشة
GenericName[ast]=Tecláu en pantalla Onboard
GenericName[be]=Экранная клавіятура Onboard
GenericName[bg]=Екранна клавиатура Onboard
GenericName[bn]=Onboard পর্দার কীবোর্ড
GenericName[bs]=Onboard — tastatura na ekranu
GenericName[ca]=Teclat a la pantalla Onboard
GenericName[ca@valencia]=Teclat a la pantalla Onboard
GenericName[cs]=Onboard klávesnice na obrazovce
GenericName[da]=Onboard - skærmtastatur
GenericName[de]=Onboard-Bildschirmtastatur
GenericName[el]=Πληκτρολόγιο οθόνης Onboard
GenericName[en_AU]=Onboard onscreen keyboard
GenericName[en_GB]=Onboard on-screen keyboard
GenericName[eo]=Surekrana klavaro Onboard
GenericName[es]=Teclado en pantalla Onboard
GenericName[eu]=Onboard pantailako teklatua
GenericName[fi]=Onboard-virtuaalinäppäimistö
GenericName[fr]=Clavier virtuel Onboard
GenericName[fr_CA]=Clavier à l'écran Onboard
GenericName[gd]=Meur-chlàr air sgrìn Onboard
GenericName[gl]=Teclado na pantalla de Onboard
GenericName[he]=המקלדת על גבי המסך Onboard
GenericName[hr]=Zaslonska tipkovnica
GenericName[hu]=Onboard képernyő-billentyűzet
GenericName[ia]=Claviero sur le schermo de Onboard
GenericName[it]=Tastiera a schermo Onboard
GenericName[ja]=Onboard オンスクリーンキーボード
GenericName[km]=ក្ដារ​ចុច​នៅ​លើ​អេក្រង់ Onboard
GenericName[ko]=온보드 화면 키보드
GenericName[lt]=Onboard ekraninė klaviatūra
GenericName[lv]=Onboard ekrāna tastatūra
GenericName[mr]=ऑनबोर्ड पडद्यावरील कळफलक
GenericName[ms]=Papan kekunci atas skrin Onboard
GenericName[nb]=Onboard skjermtastatur
GenericName[nl]=Onboard schermtoetsenbord
GenericName[oc]=Clavièr a l'ecran Onboard
GenericName[pl]=Klawiatura ekranowa Onboard
GenericName[pt]=Teclado no ecrã do Onboard
GenericName[pt_BR]=Teclado virtual Onboard
GenericName[ro]=Tastatura virtuală Onboard
GenericName[ru]=Экранная клавиатура Onboard
GenericName[sk]=Klávesnica na obrazovke
GenericName[sl]=Onboard zaslonska tipkovnica
GenericName[sq]=Onboard tastirë në ekran
GenericName[sr]=Онбоард — тастатура на екрану
GenericName[sv]=Onboard skärmtangentbord
GenericName[tg]=Клавиатураи экрании Onboard
GenericName[tr]=Onboard ekran klavyesi
GenericName[ug]=Onboard ئېكران ھەرپتاختىسى
GenericName[uk]=Onboard екранна клавіатура
GenericName[zh_CN]=Onboard 屏幕键盘
GenericName[zh_HK]=Onboard 螢幕鍵盤
GenericName[zh_TW]=Onboard 螢幕鍵盤
Comment=Flexible onscreen keyboard
Comment[ast]=Tecláu en pantalla adautable
Comment[ca]=Teclat flexible de pantalla
Comment[cs]=Nastavitelná klávesnice na obrazovce
Comment[da]=Fleksibelt skærmtastatur
Comment[de]=Flexible Bildschirmtastatur
Comment[en_AU]=Flexible onscreen keyboard
Comment[en_GB]=Flexible onscreen keyboard
Comment[es]=Teclado en pantalla flexible
Comment[fr]=Clavier virtuel flexible
Comment[gl]=Teclado na pantalla flexíbel
Comment[ia]=Claviero flexibile sur le schermo
Comment[it]=Tastiera a schermo flessibile
Comment[km]=ក្ដារចុច​លើ​អេក្រង់​ប្រែប្រួល
Comment[ko]=유연한 화상 키보드
Comment[mr]=लवचिक ऑनस्क्रीन कळफलक
Comment[ms]=Papan kekunci atas-skrin fleksibel
Comment[oc]=Clavièr virtual flexible
Comment[pl]=Elastyczna klawiatura ekranowa
Comment[pt]=Teclado no ecrã flexível
Comment[sl]=Prilagodljiva zaslonska tipkovnica
Comment[sv]=Flexibelt onscreen-tangentbord
Comment[tr]=Esnek ekran klavyesi
Comment[ug]=ماسلىشىشچان ئېكران ھەرپتاختىسى
Exec=onboard --not-show-in=GNOME,GNOME-Classic:GNOME --startup-delay=3.0
Icon=onboard
Type=Application
NoDisplay=true
X-Ubuntu-Gettext-Domain=onboard
AutostartCondition=GSettings org.gnome.desktop.a11y.applications screen-keyboard-enabled
X-GNOME-AutoRestart=true
OnlyShowIn=Unity;MATE;XFCE;
X-XFCE-Autostart=true
