[Main]
Timeout=3000
Timeout_Seconds=10
Click_Command=gnome-system-monitor

[SL_Cpu]
Enabled=true
Use_Label=false
Color=rgb(0,0,0)
Text=

[SL_Mem]
Enabled=false
Use_Label=true
Color=rgb(0,192,0)
Text=mem

[SL_Swap]
Enabled=false
Use_Label=true
Color=rgb(240,240,0)
Text=swap

[SL_Uptime]
Enabled=false

